{% extends 'base.html' %}

{% load static %}

{% block title %}
Serviços
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/servicos.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="topo">

        <div>

            <h1 class="titulo">Serviços</h1>

            <p class="subtitulo">
                Gerencie os serviços do petshop
            </p>

        </div>

        <a href="{% url 'criar_servico' %}" class="btn-novo">

            <i class="fa-solid fa-plus"></i>
            Novo Serviço

        </a>

    </div>

<div class="search-container">

    <form method="GET">

        <input
            type="text"
            name="q"
            placeholder="Pesquisar por nome ou preço..."
            value="{{ pesquisa }}"
        >

        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

    </form>

</div>

    <div class="tabela-container">

        <table>

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Ações</th>

                </tr>

            </thead>

            <tbody>

                {% for servico in servicos %}

                <tr>

                    <td>{{ servico.nome }}</td>

                    <td>{{ servico.descricao }}</td>

                    <td>
                        R$ {{ servico.preco }}
                    </td>

                    <td class="acoes">

                        <a
                            href="{% url 'editar_servico' servico.id %}"
                            class="btn-editar"
                        >

                            <i class="fa-solid fa-pen"></i>
                            Editar

                        </a>

                        <a
                            href="{% url 'deletar_servico' servico.id %}"
                            class="btn-excluir"
                        >

                            <i class="fa-solid fa-trash"></i>
                            Excluir

                        </a>

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="4" class="vazio">

                        Nenhum serviço cadastrado.

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}